<div class="container-fluid">
  <div class="row mt-4 flex-column justify-content-center bg-info align-items-center" style="height: 100vh;">
    
  <h1 class="text-warning mt-4">Contact Us</h1>
  <div class=" col-6 mt-4 row justify-content-around align-items-center">
    <div class="team_member">
      <div>
      <img src="assets/wayal1.jpg" style="height:180px;"/>
      <h3 class="mt-4" style="font-family: ';">Madhuri Wayal</h3>
	  <p class="role">200240520049</p>
      <p class="role">web developer</p>
      <p>madhuriwayal2206@gmail.com</p>
    </div>
    </div>
    <div class="team_member">
      
       
      <img src="assets/mangesh.jpg" style="height:180px;"/>
      <h3 class="mt-4" style="font-family:';">Mangesh Dase</h3>
	  <p class="role">200240520052</p>
      <p class="role">web developer</p>
      <p>mangeshdase14@gmail.com</p></div>
    </div>
    </div>
  </div>


