<div class="wrapper">
  <h1>Contact Us</h1>
  <div class="team">
    <div class="team_member">
      <div class="team_img" style="justify-content: center;display: flex;
      background-image:url('assets/wayal1.jpg');">
       
      </div>
      <h3>Madhuri Wayal</h3>
	  <p class="role">200240520049</p>
      <p class="role">web designer</p>
      <p>madhuriwayal2206@gmail.com</p>
    </div>
    <div class="team_member">
      <div class="team_img" style="justify-content: center;display: flex;
      background-image:url('assets/mangesh.jpg');">
       
      </div>
      <h3>Mangesh Dase</h3>
	  <p class="role">200240520052</p>
      <p class="role">web designer</p>
      <p>mangeshdase@gmail.com</p></div>
    </div>
  </div>
</div>	

<div class="navbar1">
  </div>

