<div class="container-fluid" style="background-image: url(assets/1.jpg);background-repeat:  no-repeat;background-size: cover; height: 100vh;">
    <div class="row justify-content-center" >
    <h1 class="text-warning mt-4 mb-4">Kundli Matching</h1>
    </div>
    <div class="row text-warning justify-content-center">
    <div class="col-sd-1"></div>
    <div class="col-md-5 d-flex flex-column align-items-center">
        <h2>Girl's Informationn</h2>
        <div class="form-group d-flex flex-column align-items-center p-1" style="border: 2px solid; width:75%;">
        <div class="mt-2">
            <label for="name" style="font-size: 20px;font-family:sans-serif;"> Name :</label>
            <input type="text" id="name" placeholder="Enter name" class="ml-5 form-group">
        </div>
        <div>
            <label for="birthdate" style="font-size: 20px;font-family:sans-serif;">Birth-Date :</label>
            <input type="date" id="birthdate" class="ml-3 form-group">
        </div>
        <div>
            <label for="birthtime" style="font-size: 20px;font-family:sans-serif;">Birth-Time :</label>
            <input type="time" class="ml-3 form-group" id="birthtime">
        </div>
        <div>
            <label for="birthplace" style="font-size: 20px;font-family:sans-serif;">Birth-Place :</label>
            <input type="text" class="form-group ml-3" placeholder="Enter Birthplace" id="birthplace">
        </div>
</div>
    </div>
    <div class="col-md-5 d-flex flex-column align-items-center">
        <h2>Boy's Informationn</h2>
        <div class="form-group d-flex flex-column align-items-center p-1" style="border: 2px solid; width:75%;">
        <div class="mt-2">
            <label for="name1" style="font-size: 20px;font-family:sans-serif;"> Name :</label>
            <input type="text" id="name1" placeholder="Enter name" class="ml-5 form-group">
        </div>
        <div>
            <label for="birthdate1" style="font-size: 20px;font-family:sans-serif;">Birth-Date :</label>
            <input type="date" id="birthdate1" class="ml-3 form-group">
        </div>
        <div>
            <label for="birthtime1" style="font-size: 20px;font-family:sans-serif;">Birth-Time :</label>
            <input type="time" class="ml-3 form-group" id="birthtime1">
        </div>
        <div>
            <label for="birthplace1" style="font-size: 20px;font-family:sans-serif;">Birth-Place :</label>
            <input type="text" class="form-group ml-3" placeholder="Enter Birthplace" id="birthplace1">
        </div>
</div>
    </div>
    <div class="col-sm-1"></div>
    </div> 
    <div class="row justify-content-center">
        <div class="col-md-5">
        <button  type="button" class="btn btn-outline-warning btn-lg btn-block mt-4">SUBMIT</button>
    </div>
    </div>
</div>