<div class="container-fluid">
    <div class=" row justify-content-center flex-column align-items-center " style="height: 100vh; background-image:url('assets/2.jpg'); 
    
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="text-warning h1" >About Us</div>
        <div class="text-light " style="width: 50%;">
            AstroSage is one of the most authentic astrology destinations for not only 
            those who are seeking astrological assistance, but also for high-level astrological
             research and development on wide scale.
              It is a prolific astrological source for people to help them out from mundane questions to specialized queries. Our aim is to ameliorate those who are facing problems and betterment of humanity using divine science of astrology.
        </div>
        
    </div>
</div>
