<!-- <div class="container-fluid">
    <div class="row bg-warning h1" style="height: 20vh;">AStroSage.com</div>
</div>
<div class="container">
    <div class="row bg-info align-items-center justify-content-center">
        <div class="col-6" [formGroup]="fbFormGroup">
            <div>LogIn</div>
            <div class="mt-1">
                <label for="name">Username</label>
                <input type="text" id="name" class="form-control" formControlName="username" 
                placeholder="Enter Username"/>

            </div>
            <div class="mt-1">
                <label for="pass">Password</label>
                <input type="text" id="pass" placeholder="Enter Password" class="form-control" 
                formControlName="password"/>
            </div>
            <button class="btn btn-sm btn-warning mt-2 mb-2" [disabled]="!fbFormGroup.valid"
            (click)="loginProcessHere()">Login</button>

            <a routerLink="/signup">Signup Here</a>
        </div>
    </div>
</div> -->
<div class="container-fluid" style="justify-content: center;display: flex;height: 100vh;">
    <div class="row " style="display: flex;justify-content: center;height: 50vh; width: 100vh; margin-top: 100px;">
      
        <div class="col-12 col-md-8" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); "  [formGroup]="fbFormGroup">
         
            <h1 style="display: flex; justify-content: center;">login</h1>
            <div style="margin-left: 6 0px;">
             
            <h4 style="margin-left: 60px;">Username</h4>
            <div style="margin-right: 50px;">
            <div class="input-group flex-nowrap" >
                <div class="input-group-prepend" >
                  <span class="input-group-text" id="addon-wrapping" >@</span>
                </div>
                <input type="text" class="form-control" 
                placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping"formControlName="Username"/>
              </div>
             
        </div>

         <h4 style="margin-left: 60px;">Password</h4>
             <div style="margin-right: 50px;">
             <div class="input-group flex-nowrap" style="margin-right: 60px;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping"formControlName="Password" />
              </div>
              </div>

              

              <div class="d-flex align-items-center justify-content-center" style="margin-top: 12px;">
                <button class="btn btn-lg btn-secondary mr-1" [disabled]="!fbFormGroup.valid"(click)="loginProcessHere()">LOGIN
                </button>
                <div>{{ fbFormGroup.value | json}}</div>
                <a routerLink="/signup">Signup Here</a>  
            </div>
          
    </div>

</div>