<div class="container-fluid">
  <div class="row bg-dark text-warning h1 align-items-center" style="height: 10vh;">
      <div class="ml-4 mr-4"><fa-icon [icon]="faCentos"></fa-icon></div>
      <div>
       AStroSage.com
      </div>
      </div>
</div>
 <div class="container-fluid">
    <div class="row justify-content-center align-items-center bg-dark" style="height: 100vh;">
        <div class="col-5 ">
          <div class="h3 text-warning mt-4 mb-4">Welcome to AStroSage</div>
          <img class="img-responsive " src="assets/wp5152451.jpg" style="width: 100%; display: block;" >
          <div class="row justify-content-start">
         <!-- <div class="col h4 text-warning mt-4"> why SignUp ?</div>-->
          </div>
        </div>
        
            <div class="col-5 d-flex flex-column align-items-center text-warning" [formGroup]="fbFormGroup">
            <div class="h2 mb-5">Sign Up</div>
              <div>
                <label class= "h5 mr-4" for="username">Username:</label>
                <input class="form-control-sm" type="text" id="username" placeholder="Enter UserName..." formControlName = "username" >
            </div>
            <div class="mt-4">
                <label class="h5 mr-4" for="password">Password</label>
                <input class="form-control-sm ml-1" type="password" id="password" placeholder="Enter Password (min 6 digits)" formControlName="password">

            </div>
            <div class="mt-4">
                <label class="h5 mr-4"for="email">Email</label>
                <input class="form-control-sm" type="text" id="email" placeholder="enter Email ID" formControlName="email">
            </div>
            <div class="mt-4">
                <label class="h5 mr-4 " for="number">Mobile NO</label>
                <input class="form-control-sm" type="text" id="number" placeholder="Enter Mobile Number" formControlName="mobile">
            </div>
            <button class="btn  btn-warning btn-lg mt-5" (click)= "registerHere()" [disabled]="!fbFormGroup.valid">SignUp</button>
        <a routerLink="/login">Login Here</a>
        </div>
    </div>
</div>
<!--<div class="container">
  <div class="row">
  <div class="col-md-4 offset-md-4">
  <form [formGroup]="fbFormGroup" (ngSubmit)="signup();">
  <div class="formbox">
   
  <div class="form-group">
  <input type="text" formControlName="fullname" class="form-control" placeholder="Full Name" [ngClass]="{ 'is-invalid': submitted && fval.fullName.errors }"/>
   <div class="invalid-feedback">
  <div *ngIf="fval.fullName.errors.required">
  Full Name is required and must be a valid name
  </div>
</div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && fval.fullName.errors }"/>
<div *ngIf="submitted && fval.fullName.errors" class="invalid-feedback">
    <div *ngIf="fval.fullName.errors.required">
    Full Name is required and must be a valid name
    </div>

  </div>
  </div>
  <div class="form-group">
  <input type="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" />
<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
  <div *ngIf="fval.email.errors.required">Email is required</div>
  <div *ngIf="fval.email.errors.email">Enter a valid email address</div>
  </div>
  </div>
   
  <div class="form-group">
  <input type="text" formControlName="mobile" class="form-control" placeholder="Mobile Number" maxlength="12" minlength="10" [ngClass]="{ 'is-invalid': submitted && fval.phone.invalid }" required />
  <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
  <div *ngIf="fval.phone.errors.required">Phone is required</div>
  </div>
  </div>
  <div class="form-group">
  <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}" />
  <!--<div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
  <div ngClass="fval.password.errors.required">
  Password is required.
  </div>
  <div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
  </div>
  </div>
  <div class="form-group">
  <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"[ngClass]="{ 'is-invalid': submitted && fval.confirmPassword.errors }" appConfirmEqualValidator='password'/>
  <div *ngIf="submitted && fval.confirmPassword.errors" class="invalid-feedback">
  <div *ngIf="fval.confirmPassword.errors.required"
  >Confirm password is required</div>
  <div *ngIf="fval.confirmPassword.errors?.notEqual">Password Mismatch</div>
  </div>
   
  </div>
  <div class="form-group">
  <div class="checkboxrow">
  <input type="checkbox" class="form-check-input" id="tnc" formControlName="tnc" [ngClass]="{ 'is-invalid': submitted && fval.tnc.errors }">
  <label for="tnc" class="form-check-label">Agree with terms and conditions</label>
  <!--<div *ngIf="submitted && fval.tnc.errors" class="invalid-feedback">
  <div>Please agree with terms and conditions</div>
  </div>
  </div>
  </div>
   
  <div class="form-group">
  <button type="btn" class="btn btn-primary"[disabled]="!fbFormGroup.valid"
  (click)="registerHere()">Sign Up <span class="arrowbtn"><span
  class="fa fa-arrow-right" ></span></span></button>
  <a routerLink="/login">Login Here</a>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
-->